# Node.js
node_modules/

# Dependence directories
/node_modules
/jspm_packages

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
/build/Release

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Visual Studio Code directory
.vscode/

# macOS
.DS_Store

# npm error logs
npm-debug.log*
